<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head.ejs') %>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../partials/sidebar.ejs') %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('../partials/topbar.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          

        </div>
        <!-- /.container-fluid -->
        <div class="container mt-5">
          <h1 class="h3 mb-4 text-gray-800">Update Category</h1>
          <form action="/editCategory" method="post">
              <!-- Text Input -->
              <input type="hidden" id="categoryID" name="categoryID" value="<%= data[0].categoryID %>">
              <div class="form-group">
                  <label for="inputName">Category Name</label>
                  <input type="text" class="form-control" name="name" id="inputName" value="<%= data[0].name %>" placeholder="Enter category's name">
              </div>
      
              <!-- Submit Button -->
              <button type="submit" class="btn btn-primary">Update</button>
          </form>
      </div>
      

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <%- include('../partials/scroll-to-top.ejs') %>

  <!-- Logout Modal-->
  <%- include('../partials/logout-modal.ejs') %>

  <%- include('../partials/script.ejs') %>

</body>

</html>
