<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head.ejs') %>

  <!-- Custom styles for this page -->
  <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../partials/sidebar.ejs') %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <%- include('../partials/topbar.ejs') %>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Book</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <span class="m-0 font-weight-bold text-primary">DataTables Example</span>
              <a href="/createBook" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right"><i class="fas fa-download fa-sm text-white-50"></i> Create</a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Book Name</th>
                      <th>Author</th>
                      <th>Category</th>
                      <th width="115px">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% data.forEach(val => { %>
                      <tr>
                        <td><%= val.bookID %></td>
                        <td><%= val.name %></td>
                        <td><%= val.authorID %></td>
                        <td><%= val.categoryID %></td>
                        <td>
                          <span >
                            <!-- Edit Button -->
                            <button type="submit" onclick="location.href='/editBook/<%= val.bookID %>'" class="btn btn-success">Edit</button>
                            <!-- Delete Button -->
                            <button type="submit" onclick="location.href='/deleteBook/<%= val.bookID %>'" class="btn btn-danger">Delete</button>
                          </span>
                        </td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <%- include('../partials/scroll-to-top.ejs') %>

  <!-- Logout Modal-->
  <%- include('../partials/logout-modal.ejs') %>

  <%- include('../partials/script.ejs') %>

  <!-- Page level plugins -->
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>
